<!-- android/app/src/main/AndroidManifest.xml -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.safe_browser">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="Safe Browser"
        android:icon="@mipmap/ic_launcher">
        
        <!-- Penting agar Activity tidak duplikat saat force relaunch dari Accessibility Service -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            
            <meta-data 
                android:name="io.flutter.embedding.android.NormalTheme" 
                android:resource="@style/NormalTheme"/>
                
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Deklarasi Accessibility Service -->
        <service
            android:name=".MyAccessibilityService"
            android:exported="false"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>

        <meta-data 
            android:name="flutterEmbedding" 
            android:value="2"/>
            
    </application>
</manifest>